# Introduction

**Project Description:**  
This project demonstrates how to connect Python to MySQL using **PyMySQL**, execute SQL queries, and display results using **PrettyTable** in a Jupyter Notebook.  

**Why MySQL?**  
- Lightweight relational database, easy to install and manage. 

- Widely used in small and medium projects.  

- Supports structured queries and transactional operations.

**Requirements:**  
- Python 3.11+ 

- VS Code with Jupyter extension  

- MySQL Server installed  

- Python packages: `pymysql`, `prettytable`, `python-dotenv`, `sqlalchemy` (optional)

# About MySQL

MySQL is the most widely used open-source relational database management system (RDBMS) in the world. It provides a robust, scalable, and reliable platform for storing, managing, and retrieving structured data.

1. What Does MySQL Do?

At its core, MySQL organizes information into defined structures (known as schemas, tables, rows, and columns), much like a sophisticated spreadsheet. The key difference is its use of the Structured Query Language (SQL) for interaction.
It acts as the persistent "memory" for applications.

2. Key Features

- Open Source: It is free to use, modify, and distribute under the GNU General Public License (GPL). A commercial enterprise version is also available from Oracle Corporation.

- Scalability: Capable of handling massive amounts of data and high volumes of traffic (e.g., used by Facebook, LinkedIn, and Netflix).

- Reliability: (ACID) Supports transactional integrity, ensuring that data is always consistent and reliable, even during system failures.

- Flexibility: While primarily relational, it also supports NoSQL functionality with JSON document storage.

3. Core Concepts

- Database: A container that holds all your tables and data.

- Table: A set of data organized into rows and columns (e.g., a Users table).

- Column: A specific field within a table (e.g., email_address, date_created).

- Row: A single record in the table (e.g., all the information for one specific user).

- SQL: The language used to communicate with the database (e.g., SELECT * FROM Users;).

# Setup

**Install Instructions:**  
1. Create virtual environment:

```bash
python -m venv .venv

Activate venv:
Windows: .venv\Scripts\activate

Install packages:

bash
pip install pymysql prettytable python-dotenv jupyter sqlalchemy

MySQL Configuration:

Ensure MySQL server is running
Note down username, password, database name, and port (default 3306)

Create .env in project root:

DB_HOST=localhost
DB_USER=root
DB_PASS=yourpassword
DB_NAME=testdb
DB_PORT=3306

Load credentials in notebook using python-dotenv to avoid hardcoding passwords.

In [1]:
from dotenv import load_dotenv
import os

load_dotenv()

host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASS")
database = os.getenv("DB_NAME")

host, user, database

('localhost', 'root', 'testdb')

MySQL connection using pymysql

In [1]:
import pymysql
from dotenv import load_dotenv
import os

# Load environment variables from .env
load_dotenv()

conn = pymysql.connect(
    host=os.getenv("DB_HOST"),
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASS"),
    database=os.getenv("DB_NAME"),
    port=int(os.getenv("DB_PORT"))
)

cursor = conn.cursor()
print("Connection created.")

Connection created.

Create Table

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100)
)
""")

print("Table created.")

Table created.

Insert data

In [4]:
sql = "INSERT INTO users (name, email) VALUES (%s, %s)"
values = [
    ("Aaryan", "aaryan@example.com"),
    ("Sam", "sam@gmail.com"),
    ("John", "john@test.com")
]

cursor.executemany(sql, values)
conn.commit()

print("Data inserted!")

Data inserted!

Output using prettytable

In [5]:
from prettytable import PrettyTable

cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
columns = [col[0] for col in cursor.description]

table = PrettyTable(columns)

for row in rows:
    table.add_row(row)

print(table)

+----+--------+--------------------+
| id |  name  |       email        |
+----+--------+--------------------+
| 1  | Aaryan | aaryan@example.com |
| 2  |  Sam   |   sam@gmail.com    |
| 3  |  John  |   john@test.com    |
+----+--------+--------------------+

Always close the cursor and connection at the end to free resources.

In [6]:
cursor.close()
conn.close()
print("Connection closed.")

Connection closed.

# Project Summary

This project demonstrated:

- Connecting Python to MySQL using PyMySQL  
- Creating database and table dynamically  
- Inserting data  
- Displaying data using PrettyTable
- Full documentation inside Jupyter Notebook using Markdown